In [5]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for temp in range(10,20):
    print(temp, end=' ')

10 11 12 13 14 15 16 17 18 19

In [13]:
list=[10,20,14,55,43,87,76]
print(list)
print("The Number of items in the list: ",len(list))

[10, 20, 14, 55, 43, 87, 76]
The Number of items in the list:  7

In [26]:
a="Artificial Intelligence"
print(a)
for temp in a:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [4]:
list=["-Your Name-","-Your Age-","-Your Profession-"]
for temp in list():
    print (temp)

TypeError: 'list' object is not callable

In [33]:
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [36]:
tuple1=(0,1,2,3)
tuple2=('python', 'HOPE')
tuple3=(tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [41]:
list=[20,10,16,19,25,1,276,188]
print(list)
for temp in list:
    if ((temp%2)==1):
        print(temp,"is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [42]:
list=[20,10,16,19,25,1,276,188]
print(list)
for temp in list:
    if ((temp%2)==0):
        print(temp,"is Even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even